<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="loginApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS App</title>
    <link rel="stylesheet" href="main.css">
</head>

<body ng-controller="MainController">
    <div>
        <input type="text" placeholder="Search Name" ng-model="searchText.name" />
        <input type="text" placeholder="Search by City" ng-model="searchText.city" />
        <!-- 
to search individual like city you have to type searchText.city or other expressions.
-->
        <input type="checkbox" ng-model="exactMatch" /> Exact Match
        <br/>
        <br/>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | filter:searchText : exactMatch">
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.gender }} </td>
                    <td> {{ employee.salary }} </td>
                    <td> {{ employee.city }} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="controllers/MainController.js"></script>

</body>

</html>
